<!DOCTYPE html>
{%extends 'myApp/parent.html'%}
<html lang="en" dir="ltr">
  <body>
    {%block for_child%}
      <div class="jumbotron">
        <div class="container" align="center">
          <h1>WELCOME TO PENTAGONSPACE</h1>
          <h2>RULES TO TAKE UP THE TEST</h2>
          <ul align="center">
            <li>You are given one hour of duration</li>
            <li>caluclator is not allowed</li>
            <li>Indiciplin is not entertained</li>
          </ul>
        </div>
        </div>
    {%endblock%}
  </body>
</html>
